:root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1;
    --background_color: black;
    background-color: var(--background_color);
}


header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 400px;
    color: var(--dark_red);
    text-align: center;
    font-family: 'Rampart One', cursive;
    position: relative;
    top: -120px;
}

#what-where-to-watch {
    font-size: 30px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--bright_red);
    text-align: center;
    position: relative;
    top: -200px;
}

.img-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -230px;
    
}

.click-me {
    color: #FCC252;
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}

#remote:hover {
    transform: scale(1.5);
}

#remote:active {
    transform: scale(1.5);
}

/* Buttons */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

button {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 10%;  */
    padding: 20px;
    border-radius: 1.5rem;
    /* margin: 20px; */
    color: white;
    background-color: darkred;
    text-align: center;
}

button:hover {
    box-shadow: 0px 0px 10px maroon;
}

button:active {
    background-color: red;
}

#streaming-avail {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 60px;
    border-style: dotted;
    border-color: var(--light_yellow);
}

/* experiment with toggle */
/* .movie-contents:before {
    visibility: hidden;
    background-color: rgba(126,22,22,.75);
    color: var(--white);
    cursor: pointer;
    padding-top: 40px;
    width: 275px;
    height: 450px;
    position:absolute;
    top:20px;
    left: 40.5%;
}

#poster-path:hover + .movie-contents {
    visibility: visible;
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: pointer;
}

#poster-path:hover + .movie-contents {
    visibility: visible;
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: pointer;
} */

/* phone size */
@media (max-width: 992px) {
    :root {
        background-color: rgb(24, 1, 1);
    }

    h1 {
        font-size: 25rem;
    }

    /* Tablet size */
    @media (max-width: 768px) {}
}