:root {
  --bright_red: #dc2026;
  --dark_red: #7e1616;
  --light_yellow: #fffead;
  --butter: #fcc252;
  --white: #fdfcfa;
  --grey: #c0c1c1;
  --background_color: black;
  background-color: var(--background_color);
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 350px;
  color: var(--dark_red);
  text-align: center;
  font-family: "Rampart One", cursive;
  position: relative;
  top: -120px;
}

#what-where-to-watch {
  font-size: 30px;
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--bright_red);
  text-align: center;
  position: relative;
  top: -200px;
}

.img-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -230px;
}

.click-me {
  color: #fcc252;
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;
}

#remote:hover {
  transform: scale(1.5);
}

#remote:active {
  transform: scale(1.5);
}

/* Buttons */
#all-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

button {
  font-size: 1.2rem;
  font-family: "Fuzzy Bubbles", cursive;
  /* width: 10%;  */
  padding: 20px;
  border-radius: 1.5rem;
  /* margin: 20px; */
  color: white;
  background-color: darkred;
  text-align: center;
}

button:hover {
  box-shadow: 0px 0px 10px maroon;
}

button:active {
  background-color: red;
}

button.active {
  background-color: red;
}

#streaming-avail {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 60px;
  margin: 60px;
  border-style: dotted;
  border-color: var(--butter);
  border-width: thick;
  background-color: var(--dark_red);
}

main {
  display: none;
}

#hideForNow {
  display: none;
}

.modal-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7e1616;
  color: white;
}

#modal-movie-name {
  font-family: "Fuzzy Bubbles", cursive;
}

#modal-movie-plot {
  font-family: "Fuzzy Bubbles", cursive;
}

h3 {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 3rem;
}

#overview2 {
  font-family: "Fuzzy Bubbles", cursive;
}

#streaming-content {
  font-family: "Fuzzy Bubbles", cursive;
}

#vote-average {
  font-family: "Fuzzy Bubbles", cursive;
}
/* experiment with toggle */
/* .movie-contents:before {
    visibility: hidden;
    background-color: rgba(126,22,22,.75);
    color: var(--white);
    cursor: pointer;
    padding-top: 40px;
    width: 275px;
    height: 450px;
    position:absolute;
    top:20px;
    left: 40.5%;
}

#poster-path:hover + .movie-contents {
    visibility: visible;
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: pointer;
}

#poster-path:hover + .movie-contents {
    visibility: visible;
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: pointer;
} */

/* Tablet size */
@media (max-width: 992px) {
  body {
    background-color: rgb(56, 53, 53);
  }
  h1 {
    font-size: 250px;
    padding-top: 50px;
  }

  #all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  button {
    font-size: 30px;
    font-family: "Fuzzy Bubbles", cursive;
    padding: 10px;
    border-radius: 1.5rem;
    color: white;
    background-color: darkred;
    text-align: center;
  }

  #original_title2 {
    font-size: 40px;
  }

  #close-modal {
    background-color: black;
  }
  /* phone size */
  @media (max-width: 768px) {
    body {
      background-color: var(--butter);
    }
  }
  .click-me {
    color: black;
  }

  #streaming-avail {
    display: flex;
    flex-direction: column;
  }

  #overview2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }

  .modal {
    display: flex;
    justify-content: center;
  }
}
