:root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1;
    --background_color: black;
    background-color: var(--background_color);
}

h1 {
    font-size: 400px;
    color: var(--dark_red);
    text-align: center;
    font-family: 'Rampart One', cursive;
    margin: 0px;
}

h2 {
    font-size: 30px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--bright_red);
    text-align: center;


}

#remote {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
/* Buttons */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 10%;  */
    padding: 20px;
    border-radius: 1.5rem;
    /* margin: 20px; */
    color: white;
    background-color: darkred;
    text-align: center;
} 

button:hover { 
    box-shadow: 0px 0px 10px maroon;
}

button:active {
    background-color: red;
}


/* phone size */
@media (max-width: 992px) {

}

/* Tablet size */
@media (max-width: 768px) {

}
