:root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1; 
    --background_color: black;
}

h1 {
    font-size: 400px;
    color: var(--dark_red);
    text-align: center;
    font-family: 'Rampart One', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--bright_red);
    padding: 20px;
    text-align: center;
}

/* Buttons */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: 1.2rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white);
    /* width: 10%;  */
    padding: 20px;
    border-radius: 1.5rem;
    /* margin: 20px; */
    background-color: darkred;
    text-align: center;
} 

button:hover { 
    box-shadow: 0px 0px 10px maroon;
    cursor: grab;
}

button:active {
    background-color: red;
} 

button:focus{
    background-color: red;
}

/* complete movie poster information */

.poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#poster-path {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.movie-contents {
    /* visibility: hidden; */
    background-color: rgba(126,22,22,.4);
    color: var(--white);
    cursor: pointer;
    width: 300px;
    height: 500px;
}

.movie-contents:hover {
    visibility: visible;
    
}

#poster-img:hover {
    box-shadow: 0px 0px 10px var(--butter);
    cursor: pointer;
    
}

.poster-btns {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 25%;
    padding-right: 25%;
}

#new-movie,
#watch-movie {
    padding: 10px;
    text-align:center;
    width: 35%;
}

#reset-btn {
    color: var(--bright_red);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-decoration: underline;
}


/* phone size */
@media (max-width: 992px) {

}

/* Tablet size */
@media (max-width: 768px) {

}
