/*  */
:root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1; 
    --background_color: black;
}

/* complete movie poster information */