/*  */
:root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1; 
    --background_color: black;
}

/* complete movie poster information */

#poster_path {
    display: flex;
    justify-content: center;
}

#overview {
    display: none;
}

#overview:hover {
    display:contents; 
    opacity: 10px;
    background-color: var(--butter);
    color: var(--dark_red);
}

#poster-path:hover {
    box-shadow: 0px 0px 10px var(--butter);
}