root {
    --bright_red: #DC2026;
    --dark_red: #7E1616;
    --light_yellow: #FFFEAD;
    --butter: #FCC252;
    --white: #FDFCFA;
    --grey: #C0C1C1; 
    --background_color: black;
}

/* heading saved movie button */
#saved-movie {
    display: flex;
    justify-content: center;
}

.save-movies {
    position: relative;
    top: -215px;
}

/* Buttons/Pick Genre Section */
#all-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

h2 {
    color: var(--white);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2rem;

}

.center {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.pick-genre {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#suggest-movie-btn {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--white);
    padding: 0px;
    background-color: rgba(192, 33, 33, 0.6);
    /* background-size: 20px; */
    margin: 20px;
    width: 245px;
    z-index: 1;
}

#suggest-movie-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--light_yellow);
}

#film-img {
    display: inline;
    position: absolute;
    /* left: 568px; */
    top: -16px;
    z-index: -1;
    min-width: 300px;
}

button {
    font-size: 1.2rem;
    font-family:'Fuzzy Bubbles', cursive;
    color: var(--white);
    /* width: 15%;  */
    padding: 15px;
    border-radius: 3rem;
    border-width: 0px;
    background-color: var(--dark_red);
    text-align: center;
    margin: 20px;
} 

button:hover { 
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: grab;
}

button:active {
    background-color: red;
} 

button:focus{
    background-color: red;
}

#clear-local-storage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white);
    font-size: .75rem;
    width: 7%;
    padding: 5px;
    margin: 0px;
}


/* complete movie poster information */
.poster-section {
    padding-top: 100px;
}

.poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#poster-path {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.movie-contents {
    visibility: hidden;
    background-color: rgba(126,22,22,.75);
    color: var(--white);
    cursor: pointer;
    padding-top: 40px;
    width: 275px;
    height: 450px;
    position:absolute;
    top: 5px;
    left: 40.5%;
}

#poster-path:hover + .movie-contents {
    visibility: visible;
    box-shadow: 0px 0px 10px var(--light_yellow);
    cursor: pointer;
}

.poster-btns {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 25%;
    padding-right: 25%;
}

#new-movie,
#watch-movie {
    padding: 10px;
    text-align:center;
    width: 28%;
}

#reset-btn {
    color: var(--bright_red);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
}

/* Streaming Availability information */

.movie-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

#movie-about,
#streaming-content {
    width: 500px;
    height: 450px;
}

#streaming-content {
    color: var(--white);
    text-decoration: underline;
}

#streaming-content:hover {
    color: var(--butter);
}


.movie-save-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.start-over-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Start-over {
    width: 10%;
    font-size: 16px;
}



/* phone size */
@media (max-width: 992px) {

}

/* Tablet size */
@media (max-width: 768px) {

}